# dependencies
node_modules/

# production build output
dist/

# local env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# testing
coverage/

# editor/system files
.vscode/
.idea/
.DS_Store
Thumbs.db

# cache
.cache/
.eslintcache
*.tsbuildinfo
